################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Practice/Algorithms/BreakingTheRecord/.vs/BreakingTheRecord/v15
/.vs
/Practice/Algorithms/BreakingTheRecord/Debug
*.opendb
*.db
*.suo
/InterviewPreps/WarmUps/CountingValleys/x64/Debug/CountingValleys.tlog
/InterviewPreps/WarmUps/CountingValleys/x64/Debug
/Practice/Algorithms/BreakingTheRecord/.vs/BreakingTheRecord/v16
/Practice/Algorithms/BreakingTheRecord/x64/Debug
/Practice/Algorithms/BreakingTheRecord/BreakingTheRecord/x64/Debug
/InterviewPreps/WarmUps/JumpingOnTheClouds/x64/Debug
/InterviewPreps/WarmUps/RepeatedString/x64/Debug
